@import 'mixin';

@media(min-width:1680px)
{
    .backOndown {
        
        background-position: -42rem 513px;
        background-size: 152rem 26rem;
        min-height: 54rem;
    }

    .ban_heading {
        font-size: 54px;}

        .colorOnscndgry {
            @include font18;}

    .colpara {
      @include font15;
       line-height: 16px;}

       .classOnsmalltxt1 {
        font-size: 13px;}   
        
        .font_scndhed {
            font-weight: 800;
            @include font18;}

 .blueOnscndcnt {
    @include font24;}

    .italicDate{
        i{
            @include font18;
        }
    }

    ul.nav-t.nav-tabs.clkchnge_dash{
        li{
            p{
                @include font18;
                margin:47px 0px;
            }
        }
    }

    .font_changefeture {
        @include font26;}    
    
      .paddIn_mid {
        margin-right:24rem;}

        .lineHeightmid {
            @include font18;}

  .fstprcessImg {
    float: right;
    width: auto;
    min-width: 500px;}

.cal_emifnt {
    @include font20;}
 
.clc-tb{
    @include font15;}

.cal_prg_bar{
    @include font18;}

    .selectRsInr{
        @include font26;
        max-width: 54px;}
    
  .placeholdergraysetup {
   height: 54px;}

   .loanemi {
    @include font20;}

    .loanemiPrize {
        font-size: 30px;}

  .get_Startedbtn {
    @include font16;}

.pnt_threestke{
    @include font15;}

.meet_Team {@include font18;}   

.btnaccountcrte{@include font18;
    width: 15rem;}

.getLoan {
    font-weight: 900;
    @include font24;}


.padd_onahodwloan {
 padding: 2rem 2rem;}

 .container {
    max-width: 80%;}

.carousel-item{
    p{@include font18;}
}

.blogInopptinity{
    .font_scndhed{@include font18;}
}

.classOndisflex{
    .mrgnInsidedlx{
        h4{font-size: 22px;}
    }
}

.fontexp {
    font-size: 16px;}


    .signNewslter {
        font-size: 22px;}

        .inputemil::placeholder{@include font16;}


        .listHeadF {
            @include font16;}

            .listInitem {
                @include font16; }

.partnerloginbtn {
    @include font16;}

  .contentOnlstfot {
    @include font16;}

    li.nav-item {
        @include font16;}

.btn_loan {@include font15;}

.logosvg {
    width: 100%;}

    ul.navbar-nav.mr-auto {
        margin-left: 12px;
    }


.navwidth {
padding: .5rem 0;}

.ploanHead{    font-size: 34px;}

.expabt_tem {
    @include font18;}

    span.p_arrowfont.rightarrp1 {
        left: 4.8rem;}

span.p_arrowfont.rightarrp2{left: 4.8rem;}

.noneBorder{
    .card-body{p{
        small{
            @include font16;
        }
    }}
}


.noneBorder{
    .card-body{
        .body_oncard_margin{
            .blueOnscndcnt{font-size: 22px;}
        }
    }
}


.fontfaq_lon {
    font-size: 24px;}

.bestc_bstoff{
    .blueOnscndcnt{font-size: 22px;}
}

.applyC_card{
    h4{font-size: 22px;}

    .listInitem {
        @include font15;}
}

.viewblogfnt {
    font-size: 14px;}

  


        .crousalopportunities img {
            margin: 0;
            width: 309px;
        }

        .bottom_border {
            border-bottom: 1px solid #fda770;
            max-width: 57%;
        }

        .newApplyCard .bottom_border {
            max-width: 71%;
        }
        
        

}


@media(min-width:1920px)
{
    .backOndown {
        background-position: -48rem 644px;
        background-size: 176rem 32rem;
        min-height: 68rem;
    }

    .padd_insidewhite{min-height: 8.7rem;}

    .col_oninsideBack{min-height: 14rem;}

    .back_Onstarjuny{    background-position: -29rem 22rem;
        background-size: 175rem 68rem;
        min-height: 88rem;}

        .rupiescardsvg{
            margin-top: 1rem;}

.loanp_back,.credi_card_back,.businessloan_back{background-size: 121rem 20rem!important;}

span.p_arrowfont.rightarrp1 {
    left: 6rem;
}

.navbar-light .navbar-nav .nav-link {

    font-size: 1.3rem;
}

.btn_loan {
    padding: 13px 24px;}

    .paddIn_mid {
        margin-right: 36rem;}

    
        .bottom_border {
            max-width: 50%;
        }

        .newApplyCard .bottom_border {
            max-width: 61%;
        }
   

}


@media(max-width:1440px)
{
    .col-md-6.onwebpadd2 {
        padding-left: 0;
        padding-right: 0;}
        


.navwidth {
    max-width: 85%;}

    .padd_insidewhite{min-height:8rem;}

    .col_oninsideBack{
        min-height: 13rem}

        .backOndown{background-position: -42rem 438px;
            min-height: 47rem;}

.client_Logo_slider {
max-width: 88%;}

.btn_loan{    margin-right: -3rem;}
            



}

@media(max-width:1366px)
{
    .backOndown {
        background-position: -42rem 413px;
        min-height: 47rem;}
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0;
            padding-left: .5rem;
        }
        .client_Logo_slider {
            max-width: 90%;
        }

        

}

@media(max-width:1280px)
{
    .oncoldisnonmedia{display: none;}

    .col-md-6.onwebpadd2 {
        padding-left: 2%;
        padding-right: 0;
        max-width: 59%;
        flex: auto;
    } 
    
    .col-md-5.onwebpadd {
        padding-left: 0;
        padding-right: 0;
        max-width: 41%;
        flex: auto;}

        .navwidth {
            max-width: 97%;}

            .backOndown {
                background-position: -42rem 382px;}      
                
                .btn_loan {
                    margin-right: 0rem;
                }

}

@media(max-width:414px)
{
    .col-md-6.onwebpadd2{    max-width:100%;
        overflow: hidden;

        padding-right: 2%;
        
        .col {
            flex: auto;
            max-width: 50%;
            margin-bottom: 12px;}
    }

    .backOndown{
        background-image: unset;
    }

    .col-md-5.onwebpadd {
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        margin-top: 2rem;
    }

    .classOndisflex {text-align: center;
    flex-direction: column;}

    .paddIn_mid {
        padding-top: 2.4rem;
        margin-right: 3rem;}

        .flexuniqFture{display:none;}

        .client_Logo_slider{
            h5{display: none;}
        }

      div{overflow: scroll;}

      .bluecalckBack {margin-top:0;}

      .showContent.current {
        overflow: hidden;}

        .client_Logo_slider{float: initial;}    

        .client_Logo_slider{width: 100%;}


        .carousel {
            position: relative;
            height: 23rem;
            overflow: hidden;}     
            
            .carousel-indicators{top: 21rem;}

            .padd_onahodwloan {    min-height: 27rem;}

            

            .mrgnInsidedlx {
                margin: 11px 4rem;
            }

            .applynowWidth {
                width: auto;
                margin-bottom: 30px;}

                .ban_heading {
                font-size: 2rem;}

                footer{
                    .container{
                        .row{
                            .col {
                                flex: auto;
                                max-width: 32%;
                            }
                        } 
                    } 
                } 

                .lstfooterflex {
                   
                    flex-direction: column;
                    text-align: center;
                } 
                
                .margintop_onjurny {
                    margin-top: 0rem;
                }


                .back_Onstarjuny {    background-size: 154rem 41rem;}

                .partnerloginbtn{display: none;}

                .topBootom_mrgn{overflow: hidden;} 
                .applyC_card{max-width: 100%;}  
                
                .pnt_threestke{
                    br{display:none;}
                }

                span.p_arrowfont.rightarrp1{
                    display: none;
                }

                span.p_arrowfont.rightarrp2{display: none;}

                .cardcompare {
                    margin-top: 0;
                }

                .listInitem {
                    font-size: 11px;}

                    .bestc_bstoff{flex-direction:column;}

                    .getploan2ndbtn {
                        width: auto;
                        margin-left: 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    .cardcol10mb {
                        margin-bottom: auto;
                        margin-left: auto;}

                        .entertainmnt{    min-width: 35%;}

                        .back_Onstarjuny {
                            background-size: 126rem 21rem;
                            min-height: 73rem;
                        }


                        .aboutMain .tabDiv {
                            left: 1%;
                            top: 11%;
                        width: auto;}

                        .aboutMain .tabDiv a {
                            color: white;
                            margin: 0 11px;
                            font-size: 14px;
                            text-transform: uppercase;
                        }

                        .aboutMain .aboutImg1 {
                            width: 100%;
                            position: absolute;
                            top: 25%;
                            left: auto;
                        }

                        .aboutMain .aboutImg2 {
                            width: 100%;
                            position: absolute;
                            top: 61%;
                            right: auto;
                        }

                        .flex-on-crousal{
                            div:last-child{
                                display: none;
                            }
                        }
                     
                        .OurTeamContent .management {
                            margin: auto;
                            margin-bottom: 2rem;
                        }


                        .emial_us {
                            display: block;}

                            .aboutContent img {
                                width: 100%;
                                margin-left: 0;
                                margin-top: 0;
                            }


                            .newApplyCard {
                                
                                padding: 3%!important;
                                .FlexDisplay {
                                display: flex;
                                justify-content: space-between;
                                flex-direction: column;

                                .inputDivWidth:nth-child(2) {
                                    padding-left: 0%;
                                }

                                .inputDivWidth:nth-child(1) {
                                    padding-right: 0%;
                                }

                            }
                        }



}


@media(max-width:384px)
{
    .padd_onahodwloan {
        min-height: 29rem;}

        .carousel {
            position: relative;
            height: 27rem;
            overflow: hidden;
        }

        .carousel-indicators {
            top: 25rem;}

            .cal_emifnt {
                color: white;
                font-size: 12px;
                -webkit-text-stroke: 0.1px;
            }

            .clc-tb{    margin-right: 1rem;}

            .button-wrap {
                text-align: center;
            }

            h5.getLoan{
                br{display: none;}
            }
            .expabt_tem{
                br{display: none;}
            }


            footer .container .row .col {
                
                max-width: 50%;
            }

            .back_Onstarjuny {
                background-size: 126rem 28rem;
                min-height: 78rem;
            }

            .aboutMain .tabDiv a {
                color: white;
                margin: 0 12px;
                font-size: 12px;
                text-transform: uppercase;
            }
            
            


            
}

@media(max-width:360px)
{
    .back_Onstarjuny {
        background-size: 126rem 28rem;
        min-height:81rem;
    }

    .blogflex{flex-direction: column;}

    .subscrbbtn {
        margin-top: 1rem;
        margin-left: 0rem;}

}

.errors{font-size: 13px; color: red;}

.form-control:focus {
    border-color: #ced4da;
    outline: none;
    box-shadow: unset;
}