@mixin font18 {
    font-size: 18px;
}

@mixin font16 {
    font-size: 16px;
}

@mixin font20 {
    font-size: 20px;
}


@mixin font15 {
    font-size: 15px;
}
@mixin font26 {
    font-size:26px;
}

@mixin font24 {
    font-size:24px;
}