
*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Lato', sans-serif;}

.navwidth{max-width: 80%;margin: auto}

.navbar-light .navbar-nav .nav-link {
    color: #5e64d4;
    font-weight: bold;}


    .dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

ul.navbar-nav {
    margin-left: -1rem;}

a.nav-link {
    margin-left: 1rem;
margin-top: 6px;
white-space: nowrap;}

.logosvg {
    width: 88%;}

.btn_loan{    background: #fd914d;
    color: white;
    border-radius: 50px;
    padding: 7px 12px;
    font-weight: bold;
    font-size: 13px;}

.shadowClass{box-shadow: 0px 6px 24px #BEBEBE29;}

.ban_heading{font-weight: bold;color: #535AD1;
    font-size: 3rem;}
nav.navbar {
    padding-left: 0px;
    padding-right: 0;}

.color_pop{color: #21bd88;}

.col_oninsideBack{background:#F3EFFF;
	position:relative;
	border-radius:7px;
    min-height: 12rem;}

.padd_insidewhite {
    background: white;
    margin:8px;
    padding:9px;
margin-top: 0;
    border-radius:7px;
    min-height: 7rem;}


.colorOnscndgry{color:#585858;}

.onColflexicon{display: flex;justify-content: center;}

.colpara {
    line-height: 14px;
    padding: 22px 10px;
    font-size: 14px;}

.classOnsmalltxt1 {
    color:#878787;
    font-size: 12.5px;
    font-weight: bold;}

 .col2back2 {
    background: #FDEEE5;}

    .col2back3 {
    background: #E2E7FF;}

    .col2back4 {
    background: #DCF8F8;}


  .col-md-6.onwebpadd2 {
    padding-left: 35px;
    padding-right: 0;}

    .col-md-5.onwebpadd {
    padding-left: 0;
padding-right: 0;}

    .mcbook_margin{margin-top: -1.5rem;}

    .frst_head_margn {
    margin-top: 4rem;
    margin-bottom: 3rem;}


    .backOndown{   
      background: url(../images/frst_hed_bck.png);
    background-repeat: no-repeat;
    background-position: -42rem 485px;
    background-size: 146rem 23rem;
    min-height: 50rem;}

    .col2back5{background: #FCEBF0;}

    .col2back6{background:#E4F1FF;}

    .font_scndhed {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin: 30px 0;
color:#183365;}

    .blueOnscndcnt {
    color: #5474FC;
    font-size: 20px;}

    .strokeOncr{-webkit-text-stroke: 1px}

    .italicDate{color:#313F80;text-align: center; -webkit-text-stroke: 0.3px;}

    .classOndisflex{display: flex; justify-content: center;
        margin-bottom: 5rem;}

    .mrgnInsidedlx{margin: 0 4rem;}

	.downhrclr{border: 1px solid #84ffff;
    width: 91%;
    margin: 10px auto;}

    .text_Onchangestke{    font-size: 15px;
    -webkit-text-stroke: 0.3px;}

    .font_changefeture {
    font-size: 21px;
    color: #535AD1;
    -webkit-text-stroke: .8px;
word-spacing: 3px;}

    .flexuniqFture{display: flex;justify-content: space-between;background: #EDF7FF;}

    .fstprcessImg{width:104%;
    float: right;}


    .clickOnchangediv {
    min-width: 142px;
    text-align: right;
    background: white;
    box-shadow: -6px 6px 30px #ABBEFC29;
    border-radius:3px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;}

    .clickOnchangediv p {
    padding-right: 18px;
    margin: 25px 0px;
    cursor: pointer;
color: black;text-decoration: none;}

    .paddIn_mid {
    padding-top: 2.4rem;
    margin-right:16rem;}

    .widthIn_lastdiv{width: 23rem;}

    .frst_paddadj{margin-top: 2.5rem!important;}

    .lst_paddadj{margin-bottom: 2.5rem!important;}

    .lineHeightmid{line-height: 28px;
    font-size: 15px;
    -webkit-text-stroke: 0.3px;}



.clkchnge_dash>li.active{
    background:url(../images/lineactive.png);
	background-repeat: no-repeat;
	background-position: right 8px;}


.addonflxcon{display: flex;justify-content: space-between;}

.nav-tabs {
    border-bottom:unset;
    list-style: none;
}





.tab-content.active { display: block; }
.tab-content.hide { display: none; }

.bluecalckBack{background:#313f80;border-radius: 12px;
padding: 2rem 2rem;
    margin-top: 5rem;}

.uppercase{text-transform: uppercase;}

.cal_emifnt{    color: white;
    font-size: 18px;
-webkit-text-stroke: 0.1px;}

a:hover{text-decoration: none;}




.clc-tb:hover {
    cursor: pointer;
}

.clc-tb {
  display:inline-block;

  color:#D5D5D5;
  line-height:35px;
  text-align:center;
  text-decoration: none;
    margin-right:2rem;
    font-size: 13px;}

.clc-tb.active {
        border-bottom: 1px solid #FDA770;
    color: #FDA770;}

.button-wrap {
    margin: 20px 0;}

div[class*="content-"] { 
  display:none;
}

div.active { 
  display:block;
}
.cal_prg_bar{
    font-size: 16px;
     color: white;
    -webkit-text-stroke: 0.1px;}


#player {
  
  position: relative;
 
}
#player i {
  position: absolute;
  margin-top: -6px;
  color: #666;
}
#player i.fa-volume-down {
  margin-left: -8px;
}
#player i.fa-volume-up {
  margin-right: -8px;
  right: 0;
}

#volume {
  position: absolute;
  margin: 0 auto;
  height: 7px;
  width:100%;
  background:#c2c6d9;
  border-radius: 15px;
}
#volume .ui-slider-range-min {
  height: 7px;
  width: 300px;
  position: absolute;
  background: #5474FC;
  border: none;
  border-radius: 10px;
  outline: none;
}
#volume .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background:#5474FC;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}

span.ui-slider-handle.ui-state-default.ui-corner-all:after {
    content: "80";
    position: absolute;
    top: 1.3rem;
    color: #FDA770;}






.flexdisplay {
    display: flex;}

.selectRsInr {
   color: white;
    max-width: 45px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    background: #5567B5!important;
    border-color: #5567B5!important;
    font-size: larger;
}


.placeholdergraysetup {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: none;
        height: 43px;}


    .showContent{
            display: none;
            
        }

        .showContent.current{
            display: inherit;
        }
/*----------------------------*/
#volume2 {
    position: absolute;
    margin: 0 auto;
    height: 7px;
    width: 100%;
    background: #c2c6d9;
    border-radius: 15px;
}

#player2 {
    position: relative;
}

#volume2 .ui-slider-range-min {
  height: 7px;
  width: 300px;
  position: absolute;
  background: #5474FC;
  border: none;
  border-radius: 10px;
  outline: none;
}

#volume2 .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background:#5474FC;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}

#volume2 span.ui-slider-handle.ui-state-default.ui-corner-all:after {
    content: "9.5%";
    position: absolute;
    top: 1.3rem;
    color: #FDA770;}
/*----------------------------------------*/


#volume3 {
    position: absolute;
    margin: 0 auto;
    height: 7px;
    width: 100%;
    background: #c2c6d9;
    border-radius: 15px;
}

#player3 {
    position: relative;
}

#volume3 .ui-slider-range-min {
  height: 7px;
  width: 300px;
  position: absolute;
  background: #5474FC;
  border: none;
  border-radius: 10px;
  outline: none;
}

#volume3 .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background:#5474FC;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}

#volume3 span.ui-slider-handle.ui-state-default.ui-corner-all:after {
    content: "8";
    position: absolute;
    top: 1.3rem;
        right: 6px;
    color: #FDA770;}

/*----------------------------------------------*/

#volume4 {
    position: absolute;
    margin: 0 auto;
    height: 7px;
    width: 100%;
    background: #c2c6d9;
    border-radius: 15px;
}

#player4 {
    position: relative;
}

#volume4 .ui-slider-range-min {
  height: 7px;
  width: 300px;
  position: absolute;
  background: #5474FC;
  border: none;
  border-radius: 10px;
  outline: none;
}

#volume4 .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background:#5474FC;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}

#volume4 span.ui-slider-handle.ui-state-default.ui-corner-all:after {
    content: "60";
    position: absolute;
    top: 1.3rem;
        right: 6px;
    color: #FDA770;}

/*----------------------------------------------*/

.row.bootm_margin {
    margin-bottom: 2rem;}

.loanemi{font-size: 18px;
    color: #FDA770;}

.loanemiPrize{font-size: 28px;
    color: #FDA770;}

.get_Startedbtn{    font-size: 14px;
    -webkit-text-stroke: .1px;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 50px;
background: #13B980;
color: white;}


img.client_logo{width:100%!important}

.client_Logo_slider{
    max-width: 85%;
    float: right;
    border-bottom: 1px solid #FDA770;
margin-top:4rem;

    margin-bottom: 4rem;}

.owl-nav{display: none;}

.oncolleftpddd{padding-left: 0;}

.pnt_threestke{
    -webkit-text-stroke: 0.3px;}

.btnaccountcrte{background:#5474FC;
color: white;font-size: 13px;border-radius: 50px;
width:12rem;padding-top: 0.7rem;padding-bottom:0.7rem;}

.btnaccountcrte:hover{color: white;}

.col_onjournypad{padding: 2.5rem}

.getLoan{
    font-weight:900;
    font-size: 22px;}

.padd_onahodwloan{    background: #D4FFFF;
    box-shadow: 0px 0px 50px #0000003D;
    padding: 2rem 3rem;
    border-radius: 15px;
max-width: 27rem;
    min-height: 30rem;
    margin-top: 0rem;

    span.carousel-control-prev-icon {
        display: none;
    }

    a.carousel-control-next {
        display: none;
    }
}

.expabt_tem{font-size: 15px}

.font900{font-weight: 900;}

.pJatin{-webkit-text-stroke: 0px;}

.jatin_margin{    margin-top: 2rem;}




.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #707070;
    background-clip: padding-box;
    border-top:unset;
    border-bottom:unset;
    opacity: .5;
    transition: opacity .6s ease;
border-radius: 50px}


.carousel-indicators .active {
    background: #FBA56F;
    
}


.carousel-indicators {
    position: absolute;
    right: inherit;
    bottom: inherit;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
    top: 26rem;}

.back_Onstarjuny{
        background: url(../images/38rect.png);
    background-repeat: no-repeat;
    background-position: -26rem 22rem;
    background-size: 154rem 65rem;
    min-height:85rem;}


.margintop_onjurny{margin-top:9rem;}

.meet_Team{    font-size: 15px;
    color: #5474FC;}

.noneBorder{border:unset;}

.blogswidth {
    max-width: 95%;}

.blogswidth .card-body {
    padding-left: 0;
    padding-top: 3px;}

.blogHeadHome {
    margin-bottom: 22px;
    margin-top: 0;}

.viewblogfnt {
    font-size: 13px;
    color: #5474FC;
    margin-right: 1rem;}

.blogflex{display: flex;justify-content: space-between;}

.financefont{font-weight: 700;}

.fontexp{font-size:80%;color: #535AD1;}

.applynowWidth{width:20%;
    margin-bottom: 30px;}

.blogInopptinity {
    border: 2px solid #FDA770;
    border-radius: 12px;}

.addmarginoprtunity {
    margin-bottom:30px;}
.backOnLsttwo {
    background: #5474FC;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-top: 3rem;}

.signNewslter{font-size: 20px; color: white;font-weight: 700;}

.subscrbbtn{
       margin-top: 2.2rem;
    margin-left: 1rem;
    width:35%;
    background: #FDA770;}
.inputemil{height: 47px;border-radius: 3px;}

.inputemil::placeholder{
    font-size: 14px;
    color: #A7A7A7;}


.footer_ul{list-style: none;}
.listHeadF{    font-size: 14px;
    font-weight: 900;
color: #183365;}

.listInitem {
    font-size: 14px;
    color: #535AD1;
-webkit-text-stroke: .2px;}

ul.footer_ul li {
    line-height: 33px;}

.partnerloginbtn{font-size: 13px;
    -webkit-text-stroke: .1px;
    border-radius: 50px;
    background: #5474fc;
    color: #fff;
    padding: 10px 25px;
    margin-top: 3rem;}

.footrhr{border-color: #FDA770;}

.socialIconfooter{padding: 28px 0px;

    a.footerSvg {
        margin: 0 .8rem;
    }
}

.socialIconfooter .linkedinsvg, .facebooksvg, .instasvg {
    width: 30px;
}

.socialIconfooter .twitterssvg {
    width: 34px;}

.lstfooterflex{display: flex;justify-content: space-between;}

.lstfooterwidth{max-width: 80%;
    margin: auto;
margin: 1.5rem auto;}

.contentOnlstfot{font-size: 14px;
font-weight: 700;
    color: #3E3E3E;}

.font400{font-weight: 400;
-webkit-text-stroke: .1px;}

.dropdn_font {
    font-size: 15px;
    color: #535AD1;
    font-weight: 400;
    -webkit-text-stroke: .1px;
    margin-bottom: 7px;}

.drop_mainShadow{box-shadow: 0px 0px 50px #f5f5f5;
    border: none;
a{
    margin: 0;
   
}

a:active{color: white!important;}


}



.ploanflex{display: flex;
    margin-left: -2.8rem;
      margin-top: 1rem;}

.ploanHead {
    margin-left: 12px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    color: #313F80;}


  .applyC_card {
    background: white;
    border: 4px solid #535AD1;
    border-radius: 15px;
    padding: 1rem 2rem;
    max-width:77%;
    margin: auto;

    .listInitem{    color: #313F80;}
}

    .newApplyCard{max-width:100%;
        .bottom_border {
            max-width: 76%;
        }

        .FlexDisplay{
            display: flex;
            justify-content: space-between;

            .inputDivWidth{
                width: 100%;
            }
            .inputDivWidth:nth-child(1) {
                padding-right: 2%;
            }
            .inputDivWidth:nth-child(2) {
                padding-left: 2%;
            }

        }

        .flex-row {
            display: flex;
            justify-content: space-between;
          }

          .lf--label {
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f5f6f8;
            cursor: pointer;
            margin-bottom: 0;

            border: 1px solid #ced4da;
            border-radius: 3px 0px 0px 3px;
            border-right: unset;

            .rupiesSymbol{width: 25%;}
          }

          .lf--input {
            flex: 1;
            padding: .7rem;
            border: 0;
            color: #8f8f8f;
            font-size: 1rem;
            border: 1px solid #ced4da;
            border-radius: 0px 3px 3px 0px;

          }
          .lf--input:focus{
              outline: none;
          }

          .color_andFont{
                font-size:14px;
                color: #313F80;
                -webkit-text-stroke: .2px;
                width: 100%;
          }

          .cahngetogglearrw{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url("../images/svgicon/toggleIcn.PNG") 96% / 11% no-repeat ;
          }

          .checkboxagree{
            margin-right: .5rem;
            zoom: 1.3;
          }

        .checkboxdiv{
            margin-top: 1rem;
            label{
                display: flex;
                align-items: center;
                small{
                    color: #313F80;
                    border-bottom: 1px solid black;
                }
            }
        }

        .p_loan_getstsrt{margin-top: 12%;}

        .ActiveEmi{
            border-radius: 0px 3px 3px 0px;
        }

        .dateofBirth{
            width: 30%;
            background: url("../images/svgicon/toggleIcn.PNG") 96% / 23% no-repeat ;
        }



    }

    .dark_Bluec{color: #183365;}

    .bottom_border{border-bottom: 1px solid #fda770;
        max-width:62%;}

.p_loan_getstsrt {
    max-width:57%;
    margin-bottom: 3%;
    margin-top:26%;}

 .rupiescardsvg {
        max-width: 60%;
    margin-left: 5%;
    margin-top: 3rem;
    margin-bottom: 7%;}

   .topBootom_mrgn {
    padding: 4rem 0;
      padding-bottom: 2rem;}

    .colWithlogo {
    padding: 3%;
    box-shadow: 0px 4px 10px #E2E7FF;
    margin: 9px;
    border-radius: 12px;}

    .col.colWithlogo img {
    width: 100%;}

.loanp_back {
    background: url(../images/personal_loan/loan_back.png);
    background-repeat: no-repeat;
    background-size: 105rem 20rem;}

.p_arrowfont {
    font-size: 22px; color: white}

.blueOncol{background: #5474FC;position: relative;}

.blueInsidecol span{    position: absolute;}

span.p_arrowfont.rightarrp1 {
    left: 4.3rem;
    top: 1rem;
}

span.p_arrowfont.rightarrp2 {
   top: 0.6rem;
    right: 4rem;}

.cardcompare {
    margin-top: 23px;}

.loanplusic {
    color: #7CD9B8;
    font-size: 19px!important;
    margin-top: 2px;}

.relative{position: relative;}

.feature_ofc{margin-left:14px;}

.featureFlexMar{margin-top: 3rem;
    margin-bottom: 6rem;}

.featureFlexMar .d-flex {
    margin-bottom: 2rem;
}

.ploan_B{border:unset;    background: transparent;}

.ploan_B .card-body{padding: 0}

// .ontextup_onloan{}

.font700{font-weight: 700}

.allBview{font-size: 38px;
    margin-left: 12px;
    margin-top: -9px;}

.body_oncard_margin{margin-top: 5.5rem}

.ploanBlog_back{background: #EDF0FF;    padding: 3.5rem 0;}

.fontfaq_lon{ font-size: 22px;
    font-weight: 700;
    color: #5474fc;
    margin-bottom: 0;
    margin-left: 12px;}

.flex_onmarginadj{display: flex;}

.flex_onmarginadj i {
    margin-top: 4px;}
.oncol7padd{padding: 0;}

.mar_on_l {
    margin-left: -1.8rem;}

.nvyblue{color: #183365;}

.bestc_bstoff {
    display: flex;
    justify-content: center;
    border-top: 2px solid #fda770;
    border-bottom: 2px solid #fda770;
    margin: 6rem 0;
    padding: 2rem;}

.bestcardOff{font-weight: 900}

.getploan2ndbtn{    width: 25%;
    margin-left: 18px;
    margin-top: -11px;
    margin-bottom: 0;}

.credi_card_back {
    background: url(../images/personal_loan/credit_card_back.png);
    background-repeat: no-repeat;
    background-size: 105rem 20rem;}

.entertainmnt{background: linear-gradient(0deg, rgba(99,108,209,1) 0%, rgba(135,203,239,1) 90%);;
    padding: 4%;
    border-radius: 5px;
     min-width: 18%;
    margin: 5px 5px;}


.entertainmnt h4{white-space: pre}

.cardcol10mb{
  margin-bottom: 3rem;
    margin-left: 1.5rem;}
.creditcard_Blog_back{    background:#fdeee5;
    padding: 3.5rem 0;}

.businessloan_back{    background: url(../images/personal_loan/business_loan_back.png);
    background-repeat: no-repeat!important;
    background-size: 105rem 20rem!important;}

.home_loanBuilding {
        max-width: 39%;
        margin-left: 5%;
        margin-top: 1rem;
        margin-bottom: 7%;}

.personumbrlasvg{
    max-width: 39%;
    margin-left: 5%;
    margin-top: 3rem;
    margin-bottom: 7%;
}

audio#myMedia {
    display: none;
}

.aboutContainer{
    background: url(../images/personal_loan/about.png);
    background-repeat: no-repeat;
    background-size: 119rem 27rem;
    min-height: 28rem;
}
.aboutMain{position:relative;
    min-height:619px;
    .aboutImg1{width:35%;position: absolute; top:37%;left: 16%;}
    .aboutImg2{width: 35%;
        position: absolute;
        top: 45%;
        right: 15.6%;}
        .tabDiv{
            .flex-tab{display: flex;
                 list-style: none;
                margin:5px 0 ;}

                position: absolute;
                left: 16%;
                top: 11%;
                background: linear-gradient(102deg, #535ad1, #ff000000);
                width: 60rem;
                border-radius: 12px 0 0 12px;
           

            a {
                color: white;
                margin: 0 33px;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
       

}

.aboutContent{
    h1{    font-size: 30px;
        font-weight: 900;
    color: rgba(83, 90, 209, 1)}

    img{    width: 67%;
        margin-left: 5rem;
        margin-top: 44px;}
}

.OurTeamContent{
    h1{color: black;
        margin: 17px 0;
    margin-top: 0;}

    .management{
        margin-right:4rem;
        img{width:90%;margin: 0}

        h5{color: black;
            margin: 5px 0!important;
    margin-top: 13px!important;}

        .svgIcon{width: 20px;
        margin-right: 5px;}

        
    }

    h1.leadership {
        margin-top: 5rem;}
    

}

.italictex {
    margin: 5rem 0;
    i {
        font-size: 41px;
        font-weight: 300;
        color: orange;
        -webkit-text-stroke: .2px;
    }
}
h1.leadership2 {
        margin-top: 5rem!important;
        color: black;
    margin-top: 0;
    font-weight: 900;
    font-size: 30px;
    }
.comingsoon{
    font-size: 30px;
    font-weight: 300
}
.cssonShadow{
    box-shadow: 0 4px 10px #E2E7FF;
    border-radius: 12px;
    text-align: center;
    padding: 14px;
}
.currentFinance{
    background: #E4F1FF;
    color: #535AD1;
    padding: 5px 25px;
    padding-top: 19px;
    border-radius: 5px;
    margin-bottom: 1rem;

    h5{
        color: #535AD1;
        font-weight: 900;
    }

    
}

.manager{
    h5{font-weight: 900;}
    li{
        margin-bottom: 1rem;
        font-size: 80%;
        font-weight: 400;
        -webkit-text-stroke: 0.3px;
       
    }
}
.emial_us{
    border: 2px solid #535AD1;
    text-align: center;
    padding: 2rem;
    border-right: 0px;
    border-left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    h5{
        font-weight: 600;
        display: contents;
    }
    .careermail{
        color: #535AD1;
    }
}

.crousalopportunities{background-color: #FD914D;
    border-radius: 12px;
    img{margin: 0;
        width: 279px;}
    .flex-on-crousal{
        display: flex;
        justify-content: space-between;
        p{
            small{-webkit-text-stroke: 0;}
        }

        .reena{font-size: 90%;font-weight: 500;color: white; -webkit-text-stroke: .1px;}
    }
h5{
    color: white;
    
}
.first_flex{padding: 3rem;}



}
.center-flex{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.secndCrousal{
    top: 20rem!important;
    left: 3rem!important;

 li{background: #535AD1;}
 .active {
    background: #FFFFFF;
}

}


@import "media";