@import "./Css/main.scss";

.show>.dropdown-menu {
    display: block;
    position: absolute;
  }

  .footerClassnw{
    background:url('') repeat #f4f4f4;
    padding-bottom: 6rem;
  }

  .clorblc{
    color: black;
  }
  .homeLoanBack{background: url('./images/personal_loan/personal_loan.png');}

  .LoanAgainstProperty{
    background:url('./images/personal_loan/loan_against_property.png');
  }
  .InsurancePlans{background: url('./images/personal_loan/insurance_plan.png');}

  .BalanceTransfer{background: url('./images/personal_loan/balance_transfer.png');}

  .activehead2{
    position: relative;}

    .activehead2::before{content : "";
      position: absolute;
      left    : 0;
      bottom  : -3px;
      height  : 1px;
      width   : 35px; border-bottom: 2px solid white;}

  .mailIcon{
    width:25px!important;
    margin-left:0!important;
    margin-top:0!important;
    margin-right: 1rem;

    @media(min-width: 1680px)
    {
      width:36px!important;
    }

  }

  .careercrousal {
    .carousel-indicators{
      top: 20rem !important;
      left: 3rem !important;
     
      @media(max-width:360px)
      {
        top: 22rem !important;
      }

      @media(min-width:1680px)
      {
        top: 21rem !important;

      }
      

      .active {
        background: #dba3a3;}
    }

    @media(min-width:1680px)
    {
      .reena {
        font-size: 109%!important;}

    }
    

  }

  .BlackColor{
    color:black!important;
  }

  .crousalopportunities {
    @media(max-width:1024px)
    {
      .pnt_threestke{
        br{
          display: none;
        }
      }
    }

  }


  //iframe form

//   .m2 .freebirdFormviewerViewHeaderHeader {
//     margin-top: 12px;
//     background-color: #fff;
//     border: 1px solid #dadce0;
//     border-radius: 8px;
//     margin-bottom: 12px;
//     padding: 24px;
//     padding-top: 22px;
//     position: relative;
//     display: flex;
// }

@media(max-width:414px)
{
  .applyC_card{padding: 0;}
}
